<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="name" class="form-control" type="text" name="album_name">

    <label for="album_name">Album artist</label>
    <input id="artist" class="form-control" type="text" name="album_artist">

    <label for="album_name">Album year</label>
    <input id="year" class="form-control" type="text" name="album_year">

    <label for="album_name">Album genre</label>
    <input id="genre" class="form-control" type="text" name="album_genre">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
